body{
    display: flex;
    flex-direction: column;
}
#tituloPagina{
    display:flex;
    justify-content:center;
}
#contenedorInput{
    display:flex;
    justify-content: center;
    gap:10px;
    align-items: center;;
}
#userInput{
    border-radius: 10px;
    border:none;
    background-color: rgba(175, 172, 163, 0.499);
    max-height: 30px;
    padding:5px;
}

#anadirTarea{
    border-radius:10px;
    border:none;
    background-color: rgb(52, 169, 165);
    padding:5px 10px;
    color:rgb(255, 255, 255);
}

.tareaItem{
    display:flex;
    max-width: fit-content;
    justify-items: center;
}
/* Línea tachada cuando la tarea está completada */
.tareaItem.completed .tareaText {
    text-decoration: line-through;
    color: gray;
}
#list{
    justify-items: left;
    max-width: fit-content;
    justify-self:center;
    justify-content: center;
    align-self: center;
    padding-left:0;
}
